<div class="row">
    <div class="box col-lg-12 text-center">
        <div class="col-lg-6 text-center box">
          <h2><strong>A Brief History of Kate</strong></h2>
          <hr>
          <p class='text-justified'>Kate was born to Sam and Glen Odell in Seattle, beating her twin brother Dusty out of the womb by an impressive 8 minutes. She has two older sisters, Erin and Megan. Kate's early childhood was spent between Seattle (Washington), Portland (Oregon) and Littleton (Colorado) before the family moved to Irvine, California for Kate's 3rd grade year - where her parents and brother still live. She spent her time reading voraciously, playing soccer, going to Disneyland, and doing a lot of homework.</p>
          <p>
            She left home to attend college at Stanford University, where she took computer science classes, played ultimate frisbee, and perfected the art of procrastination. After graduation she spent 6 months traveling in New Zealand, Australia, most of Southeast Asia, and China before returning to the Bay Area and joining the world of tech startups. Her hobbies now include reading voraciously, running, and being obsessed with her cat Xanadu.
          </p>
          <br/>
        </div>
          
        <div class="col-lg-6 text-center box">          
          <h2><strong>A Brief History of Arjan</strong></h2>
          <hr>
          <p>Arjan was born to Kirpal and Sharon Dehar in El Centro, a small farming town in southern California. A year or so later, Arjan was joined by his kid brother Ravi. Arjan and Ravi lead the neighborhood gang, exploring the area, with a keen eye for expanding their territory. Along with their neighborhood Starfleet officers, they saved the neighborhood from countless Klingon and Romulan incursions. The Neutral Zone was kept safe in the early 90s through their leadership and strategy.  </p>
          <p>After the family's big move to Davis, Arjan finished high school and then went on to study Computer Engineering at UC Davis. Arjan's biggest hobby was basketball, until recurring shoulder injuries in college required him to end his career prematurely. Arjan now enjoys travelling the world with his Chief Excursion Officer (Kate, obviously) and exercising his power as Chief Food Officer to ensure bellies are full and taste buds are satiated.
          </p>
          <br/>
        </div>

        <div class="col-lg-12 text-center box">  
          <h2><strong>Our Story</strong></h2>
          <hr>

          <p>Kate and Arjan met in 2007 when they both started their first day of a new job as a 'Solutions Engineer' at a tech startup (Baynote) in Cupertino, CA.  The first year of their acquaintance consisted of good-natured competition between the two of them - after no clear winner emerged (, they figured "if you can't beat 'em, join 'em!" and became increasingly good friends. Arjan tried various schemes to become "more than friends", but none could breach Kate's "no dating co-workers" barriers. They even made plans to become roommates when Kate, Arjan, and their friend Jeryl all decided to move to San Francisco around the same time.</p>
          <p>
          Arjan's lucky break came in July of 2009 in the form of a road trip. Kate had recently been rendered relatively helpless by knee surgery, and was in need of someone who could give her a ride down to Irvine to spend the holiday weekend with her family. Arjan conveniently was planning to go down to San Diego with a group of friends that same weekend, and jumped at the chance to spend 15 hours alone in a car with Kate. During the drive he caught Kate's attention with both his sparking conversational skills and his possession and knowledge of many Disney soundtracks. Needless to say, the drive up and down the 5 freeway was the highlight of the holiday weekend for both of them.
          </p>
          <p>
          Shortly thereafter there was a frank discussion of their feelings toward each other, resulting in the decision to break two of the most important dating rules for twenty-somethings: 1) Don't date your co-worker, and 2) Don't date your roommate. They are quite happy with the results of violating those rules. 
          </p>
          <br/>
        </div>
    </div>
</div>