  <!-- AddThisEvent -->
  <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
  
  <!-- AddThisEvent Settings -->
  <script type="text/javascript">
  addthisevent.settings({
    mouse       : false,
    css         : false,
    outlook     : {show:true, text:"Outlook Calendar"},
    google      : {show:true, text:"Google Calendar"},
    yahoo       : {show:true, text:"Yahoo Calendar"},
    ical        : {show:true, text:"iCal Calendar"},
    hotmail     : {show:true, text:"Hotmail Calendar"},
    facebook    : {show:true, text:"Facebook Calendar"}
});
  </script>
  
  <!-- Theme -->
  <style type="text/css">

  /* AddThisEvent (add to your existing CSS) */
  .addthisevent-drop                      {width:27px;height:23px;display:inline-block;position:relative;z-index:999998;font-family:arial;color:#333;text-decoration:none;font-size:14px;text-decoration:none;background: url(<%= image_url('icon-calendar.png')%>) no-repeat;vertical-align: middle;margin-left: 20px;}
  .addthisevent-drop:hover                {color:#555;font-size:14px;text-decoration:none;}
  .addthisevent-selected                  {}
  .addthisevent_dropdown                  {width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;border:none;margin-top:4px;margin-left:-1px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
  .addthisevent_dropdown span             {width:175px;display:block;line-height:110%;background:#fff;text-decoration:none;font-size:12px;color:#6d84b4;padding:8px 10px 9px 15px;}
  .addthisevent_dropdown span:hover       {background:#f4f4f4;color:#6d84b4;text-decoration:none;font-size:12px;}
  .addthisevent span                      {display:none!important;}
  .addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
  .addthisevent_dropdown .copyx           {width:200px;height:21px;display:block;position:relative;cursor:default;}
  .addthisevent_dropdown .brx             {width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
  .addthisevent_dropdown .frs             {position:absolute;top:5px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:9px;color:#cacaca;}
  .addthisevent_dropdown .frs:hover       {color:#6d84b4;}
  .addthisevent                           {visibility:hidden;}

  </style>
  


  <div class="row">
    <div class="box col-lg-12 text-center">
        <div class="box">
            <div class="col-lg-7">
                <iframe src="https://mapsengine.google.com/map/embed?mid=zHpzb6nTd6yc.k5ZbC97c00Vg" width="620" height="480"></iframe>
            </div>
            <h3><strong>Friday Night Dinner</strong></h3>
            <p>

                5-8pm Friday, August 8, 2014
                <a href="" title="Add to Calendar" class="addthisevent">
                    <span class="_start">08-08-2014 17:00</span>
                    <span class="_end">08-08-2014 20:00</span>
                    <span class="_zonecode">6</span>
                    <span class="_summary">Kate &amp; Arjan's Friday Dinner</span>
                    <span class="_description">Kate &amp; Arjan's Friday Dinner in Tahoe City, CA at Commons Beach</span>
                    <span class="_location">Commons Beach, Tahoe City, CA 96145</span>
                    <span class="_organizer_email">kate.and.arjan@gmail.com</span>
                    <span class="_date_format">MM/DD/YYYY</span>
                </a><br>
                <a href="http://tahoe.ca.gov/commons-beach-67.aspx">Commons Beach</a><br>
                Tahoe City, CA<br>
                If you are able to get to Tahoe by Friday evening, we would love you to join us for dinner and drinks at Commons Beach.
            </p>

            <h3><strong>Ceremony &amp; Reception</strong></h3>
            <p>
                4pm Saturday, August 9, 2014
                <a href="" title="Add to Calendar" class="addthisevent">
                    <span class="_start">08-09-2014 16:00</span>
                    <span class="_end">08-09-2014 23:00</span>
                    <span class="_zonecode">6</span>
                    <span class="_summary">Kate &amp; Arjan's Wedding</span>
                    <span class="_description">Kate &amp; Arjan's Wedding in Tahoe City, CA at the Bear Paw Lodge</span>
                    <span class="_location">Bear Paw Lodge, 2900 Polaris Rd, Tahoe City, CA 96145</span>
                    <span class="_organizer_email">kate.and.arjan@gmail.com</span>
                    <span class="_date_format">MM/DD/YYYY</span>
                </a><br>
                <a href="https://www.facebook.com/pages/Bear-Paw-Lodge-Tahoe-City-CA/524789170911297">Bear Paw Lodge</a> <br>
                2900 Polaris Rd<br>
                Tahoe City, CA 96145<br>
                We will have a short outdoor ceremony at 4pm followed by drinks, dinner, and dancing into the evening. There will be a shuttle running between the Bear Paw Lodge and the Pepper Tree Inn throughout the evening. 
            </p>
        </div>

        <div class="col-lg-6">
            <div class="box text-center">
                <h2><strong>Lodging</strong></h2>
                <hr/>
                <h4><a href="http://www.peppertreetahoe.com/"><strong>Pepper Tree Inn</strong></a></h4>
                <p>
                    (800) 624.8590 Tel: (530) 583.3711<br>
                    645 North Lake Boulevard, Tahoe City, CA 96145 <br>
                    In order to reserve your room as part of our wedding block you need to call the hotel and tell them you are part of the Odell/Dehar wedding. Rooms are from $150-200.
                </p>
                <h4><a href="https://www.airbnb.com/s/Tahoe-City--CA?checkin=08%2F08%2F2014&checkout=08%2F10%2F2014&guests=2&sw_lat=39.16425674416777&sw_lng=-120.146302691335&ne_lat=39.20182552509974&ne_lng=-120.10587643706253&zoom=14&search_by_map=true/"><strong>AirBNB</strong></a></h4>
                <p>
                    It looks like there are many great AirBNB options in the neighborhood if you'd prefer a house or condo for the weekend.
                </p>
                <h4><a href="http://www.vrbo.com/vacation-rentals/usa/california/lake-tahoe-ca/north-shore/tahoe-city"><strong>VRBO.com</strong></a></h4>
                <p>
                    Vacation Rental By Owner is another good option if you'd prefer to find a house or condo for the weekend.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box text-center">
                <h2><strong>Travel</strong></h2>
                <hr/>
                <p>
                    For those guests not in Northern California, the closest major airport is in Reno, NV (about a 1 hr drive away).  The Sacramento International Airport is a 2 hr drive away.    
                </p>
            </div>
            <div class="box text-center">
                <h2><strong>Registry</strong></h2>
                <hr/>
                <p>
                    We haven't quite gotten our act together enough to have a registry put together...but rest assured, it will be coming very soon!  In the meantime, if you feel that you NEED to shower us with gifts this very instant, we really could use a pet dragon or one of those self-driving Google cars.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
