      <div class="jumbotron">
        <img src="/assets/kate_arjan.png">
        <h1>Save the Date!</h1>
        <h2>Arjan Dehar &amp; Kate Odell</h2>
        <h2>Saturday August 9, 2014</h2>
        <h2>Bear Paw Lodge, Tahoe City, CA</h2>
        <p><a class="btn btn-lg btn-success" href="#" role="button">RSVP</a></p>
      </div>

      <div class="row marketing text-muted">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>