<div class="row">
    <div class="box col-lg-12 text-center">
        <div class="text-center">
            <div class="col-lg-3">
                <img class="img-responsive img-full" src="../assets/horse.JPG" >
            </div>  
          <div class="intro-text">      
              <h2>Hold your horses! </h2>
              <hr>
              You'll be able to RSVP here soon.
              <br>
              We do have day jobs afterall, and websites don't write themselves...yet ;)
              <br>
          </div>
          <br>
          Fun Fact 1: This is a picture of Arjan's first time riding a horse.
          <br>
          Fun Fact 2: This picture was taken in Belize, the day before Arjan asked Kate to marry him.
        </div>
    </div>
</div>