<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box"> 
            <div class="row">
                Check your email     
          </div>
      </div>
  </div>
</div>