<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box"> 
            <h2><strong>RSVP</strong></h2>            
            
            <div class="row pad-btm-30">
                <div class="col-sm-2">
                    <h4>Name</h4>
                </div>
                <div class="col-sm-5">
                    <h4>Friday Night Dinner</h4>
                    Friday August 8, 2014
                </div>
                <div class="col-sm-5">
                    <h4>Wedding &amp; Reception</h4>
                    Saturday, August 9, 2014
                </div>
            </div>
            <form role="form">
                <div class="row pad-btm-30">
                    <div class="col-sm-2">
                        <p><%= @guest.first_name %></p>
                    </div>
                    <div class="col-sm-5">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default btn-yes">
                            <input type="radio" name="friday" id="yes"> Attending
                          </label>
                          <label class="btn btn-default btn-maybe">
                            <input type="radio" name="friday" id="maybe"> Not Sure Yet
                          </label>
                          <label class="btn btn-default btn-no">
                            <input type="radio" name="friday" id="no"> Not Attending
                          </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default btn-yes">
                            <input type="radio" name="friday" id="yes"> Attending
                          </label>
                          <label class="btn btn-default btn-maybe">
                            <input type="radio" name="friday" id="maybe"> Not Sure Yet
                          </label>
                          <label class="btn btn-default btn-no">
                            <input type="radio" name="friday" id="no"> Not Attending
                          </label>
                        </div>
                    </div> 
                </div>
                <hr>
                <div class="row pad-top-20">
                    <div class="col-sm-5 form-group text-right">
                        <label for="dietary_notes">Dietary Notes (i.e. allergies, vegetarian, gluten-free, etc.)</label>
                    </div>
                    <div class="col-sm-5 form-group ">
                        <textarea class="form-control" rows="3" name="dietary_notes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group text-right">
                        <label for="other_notes">Anything else you'd like to tell or ask us?</label>
                    </div>
                    <div class="col-sm-5 form-group ">
                        <textarea class="form-control" rows="3" name="other_notes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>