<div class="row">
    <div class="box col-lg-12 text-center">
        <div class="text-center box" style="height:350px"> 
            <div class="col-lg-3">
                <%= image_tag('horse.JPG', :class => 'img-responsive img-full') %>
            </div>  
            <div class="intro-text">    
                  <h2>Hold your horses! </h2>
                  <hr>
                  You'll be able to RSVP here soon.
                  <br>
                  We do have day jobs after all, and websites don't write themselves...yet ;)
                  <br>
            </div>
            <br>
            Fun Fact 1: This is a picture of Arjan's first time riding a horse.
            <br>
Fun Fact 2: This picture was taken in Belize, the day before Arjan asked Kate to marry him.
        </div>
    </div>
</div>