<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box"> 
            <div class="row">
                This is the place where people check boxes and tell us who is coming to what event.      
          </div>
      </div>
  </div>
</div>