<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box"> 
            <h2><strong>RSVP</strong></h2>
            <p>
                To RSVP, you need to click on the RSVP link from the email you will receive from us in the near future. The email would have been from kate.and.arjan@gmail.com with the Subject "Please RSVP for Kate &amp; Arjan's Wedding".
            </p>
            <p>
                If you didn't receive an email, be sure to check your spam filter.  If we didn't have your email address, we may have sent your invite to another member of your family.
            </p>
            <p>
                If you have any trouble, please just shoot us an email at <a href="mailto:kate.and.arjan@gmail.com">kate.and.arjan@gmail.com</a> and we'll get it sorted out :)
            </p>
        </div>
    </div>
</div>