<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box"> 
            <div class="row">
                <div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                    <%= image_tag('horse.JPG', :class => 'img-responsive') %>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="intro-text">    
                      <h2>Hold your horses! </h2>
                      <hr>
                      You'll be able to RSVP here soon.
                      <br>
                      We do have day jobs after all, and websites don't write themselves...yet ;)
                      <br>
                      <br>
                  </div>
                  <div class="text-center">
                      Fun Fact 1: This is a picture of Arjan's first time riding a horse.
                      <br>
                      Fun Fact 2: This picture was taken in Belize, the day before Arjan asked Kate to marry him.
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>